@function arrow-background($arrow-color,$background){
    @return linear-gradient(135deg,
        transparent 33.3%, 
        $background 33.3%, $background 90%,
        $arrow-color 90%
    ) 20% 20%/33.3% 33.3% no-repeat, 
    linear-gradient(45deg,
        $arrow-color 10%, $background 10%
    ) 80% 20%/33.3% 33.3% no-repeat,
    linear-gradient(135deg,
        $arrow-color 10%,
        $background 10%, $background 65%,
        transparent 35%
    ) 80% 80%/33.3% 33.3% no-repeat,
    linear-gradient(45deg,
        $background 90%, $arrow-color 90%
    ) 20% 80%/33.3% 33.3% no-repeat,
    linear-gradient(45deg,
        $background 25%,
        transparent 25%, transparent 75%,
        $background 75%
    ),
    linear-gradient(135deg,
        transparent 25%,
        $arrow-color 25%, $arrow-color 75%,
        transparent 75%
    );
}


@function arrow-background2($arrow-color){
    $triangle-depth: 10%;
    $bar-relative-width: 25%;
    $bar-actual-width: $triangle-depth*$bar-relative-width/50%;
            
    @if(50% - $bar-actual-width/2 < $triangle-depth){
        @warn block-gradient(135deg); //"dimensions of triangle are invalid!";
    }
    
    $s: $arrow-color $triangle-depth            , transparent $triangle-depth + 0.5%,
        transparent (50% - $bar-actual-width/2) , $arrow-color (50% - $bar-actual-width/2), 
        $arrow-color (50% + $bar-actual-width/2), transparent (50% + $bar-actual-width/2) + 0.5%,
        transparent (100% - $triangle-depth)    , $arrow-color (100% - $triangle-depth);
    
    @return linear-gradient(135deg, #{$s}), linear-gradient(45deg, #{$s});
}
